$boardSize: 480px;
$tileSize: 60px;
$boardTileSize: calc($boardSize/8);
$pieceColor: #773b0a;
$boardBorder: #f4f4f4;
$lightTile: #f3eded;
$darkTile: #f5c16c;
$appBackground: #ffaa55;
$activeColor: rgba(170, 83, 14, 0.8);
