@import "constants";
@import "chessfont";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  font-family: "Chess-Regular";
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  min-width: $boardSize;
  min-height: $boardSize;
  border: 3px solid $boardBorder;
  background-color: #ffffff;
  max-width: $boardSize;
  user-select: none;
  overflow: hidden;
  border-radius: 4px;
}

.board .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $boardSize;
}

.board .col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3em;
  width: 100%;
  max-width: $tileSize;
  height: $tileSize;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 0.1s;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.board .light {
  background-color: $lightTile;
}

.board .dark {
  background-color: $darkTile;
}

.col:active {
  position: relative;
  z-index: 0;
}

.col:active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(115, 255, 0, 0.8);
  opacity: 0.6;
  z-index: -1;
}
