@font-face {
  font-family: "Chess-Regular";
  src: url("../webfonts/Chess-Regular.ttf.woff") format("woff"),
    url("../webfonts/Chess-Regular.ttf.eot"),
    url("../webfonts/Chess-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
