$boardSize: 480px;
$tileSize: 60px;
$boardTileSize: calc($boardSize/8);
$pieceColor: #1a1818;
$boardBorder: #f4f4f4;
$lightTile: #eae9d2;
$darkTile: #4b7399;
$appBackground: #62a043;
$activeColor: rgba(7, 53, 97, 0.8);
