@import "chessfont";
@import "constants";
@import "container";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $appBackground;
}

.board {
  font-family: "Chess Alpha";
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  min-width: $boardSize;
  min-height: $boardSize;
  background-color: #ffffff;
  max-width: $boardSize;
  user-select: none;
  overflow: hidden;
}

.board .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $boardSize;
}

.board .col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3em;
  width: 100%;
  max-width: $tileSize;
  height: $tileSize;
  cursor: pointer;
  color: $pieceColor;
}

.board .light {
  background-color: $lightTile;
}

.board .dark {
  background-color: $darkTile;
}

.col:active {
  position: relative;
  z-index: 0;
}

.col:active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $activeColor;
  opacity: 0.6;
  z-index: -1;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: $boardSize;
  .game-stats {
    width: 480px;
    font-family: "Lato", sans-serif;
    margin-right: 35px;
    .header {
      color: white;
      width: 480px;
      height: 112px;
      background: #37425e;
      border-radius: 3px;
      padding: 23px;
      h1 {
        font-size: 32px;
        padding-bottom: 5px;
      }
      p {
        font-size: 16px;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
