@import "chessfont";
@import "constants";
@import "container";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $appBackground;
}

.board {
  font-family: "Chess Alpha";
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  min-width: $boardSize;
  min-height: $boardSize;
  background-color: #ffffff;
  max-width: $boardSize;
  user-select: none;
  overflow: hidden;
}

.board .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $boardSize;
}

.board .col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3em;
  width: 100%;
  max-width: $tileSize;
  height: $tileSize;
  cursor: pointer;
  color: $pieceColor;
}

.board .light {
  background-color: $lightTile;
}

.board .dark {
  background-color: $darkTile;
}

.col:active {
  position: relative;
  z-index: 0;
}

.col:active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $activeColor;
  opacity: 0.6;
  z-index: -1;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  height: $boardSize;
  .game-stats {
    width: 480px;
    font-family: "Lato", sans-serif;
    margin-right: 35px;
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      width: 480px;
      height: 112px;
      background: #37425e;
      border-radius: 3px;
      padding: 23px;
      h1 {
        font-size: 32px;
        padding-bottom: 5px;
      }
      p {
        font-size: 16px;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .stats {
      color: white;
      padding: 23px;
      margin-top: 30px;
      background: #37425e;
      border-radius: 3px;
      width: 480px;
      height: 265px;
      h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      h3 {
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 8px;
      }
      .players {
        display: flex;
        flex-direction: row;
        width: 385px;
        height: 50px;
        background: #293248;
        font-weight: bold;
        font-size: 16px;
        border-radius: 3px;
        cursor: default;
        user-select: none;
        .player-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #293248;
          width: 50%;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .player-2 {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #252d42;
          width: 50%;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
      .controls-wrapper {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
      }
      .controls {
        display: flex;
        flex-direction: row;
      }
      .stopwatch {
        margin-right: 15px;
        display: flex;
        flex-direction: row;
        width: 103px;
        height: 50px;
        background: #293248;
        font-weight: bold;
        font-size: 16px;
        border-radius: 3px;
        cursor: default;
        user-select: none;
        .minutes {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #293248;
          width: 50%;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        .seconds {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #252d42;
          width: 50%;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
      .new-game {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 118px;
        height: 50px;
        background: #293248;
        border-radius: 3px;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
        &:hover{
          background: #252d42;
        }
      }
    }
  }
}
